src/main/mule/ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="71aee73a-4347-409f-b292-f75464d642d5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d40d1f0c-5500-449f-bd1d-8ef7fc1f8fce" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" database="techsankobank" />
	</db:config>
	<flow name="ci-cdFlow" doc:id="6e22d4c5-bc8d-4c39-91f2-2b4e7b31343f" >
		<http:listener doc:name="Listener" doc:id="e10480b5-5abb-4dee-a944-3b8516ae3cbc" config-ref="HTTP_Listener_config" path="/storeData"/>
		<logger level="INFO" doc:name="Logger" doc:id="e4742943-d540-4e40-94cd-4ebe903d8c87" message="#[payload]"/>
		<db:insert doc:id="f5ff4699-3e23-4b51-a55a-daa90e15b18c" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO `query`( `name`, `email`, `contact`, `query`) values (:name,:email,:contact,:query)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name : payload.name,
	email: payload.email,
	contact: payload.contact,
	query: payload.query
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="Query Stored Successfully" doc:name="Set Payload" doc:id="32bc4169-c344-4610-a9fd-1d024b7512a7" />
	</flow>
</mule>
